<%= form_tag login_path do %>
  <div class='jumbotron round-this-jumbotron'>
      <p>
        <%= label_tag :email %></br>
        <%= text_field_tag :email, nil, class: 'round-this-field' %>
      </p>
      <p>
        <%= label_tag :password %></br>
        <%= password_field_tag :password, nil, class: 'round-this-field' %>
      </p>
      <p>
        <%= submit_tag 'Login', { class: 'btn btn-primary' } %>
      </p>
  </div>
  <div>
    <%= link_to 'View Dashboard', guest_path, {class: 'btn btn-olive'} %>
  </div>
<% end %>
