<%= form_for(@snippet, :html => { :class => "form-horizontal" }) do %>
  <% if @snippet.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h4>
      <ul>
      <% @snippet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= label_tag :objective, 'Objective', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= text_field_tag :objective, @snippet.objective, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :image_name, 'Image Name', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= text_field_tag :image_name, @snippet.image_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :github_file_link, 'Github File Link', :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= text_field_tag :github_file_link, @snippet.github_file_link, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :project_name, 'Project Name', :class => "col-sm-2 control-label" %>
    <%= select_tag :project_name, options_for_select(project_names) %>
  </div>
  <%= hidden_field_tag :coder_id, value: current_coder.id %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag 'Submit', :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
