<div class="page-header">
  <h1>Code Snippet</h1>
</div>
<dl class="dl-horizontal snippet-text">
  <dt>Project:</dt>
  <dd><%= @project.project_name %></dd>

  <dt>Objective:</dt>
  <dd><%= @snippet.objective %></dd>

  <dt>Github File Link:</dt>
  <dd><%= link_to @snippet.github_file_link, @snippet.github_file_link, :target => '_blank' %></dd>

  <dt>Project Online:</dt>
  <dd><%#= link_to @snippet.project.browser_project_link, @snippet.project.browser_project_link, :target => '_blank' %></dd>

  <div class = 'snippet-pic'>
    <script src=<%= @snippet.image_name %>></script>
  </div>
  <%= link_to 'See the code',  'javascript:location.reload(true)', :class => 'btn btn-primary' %>
</dl>
