<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Github link:</strong>
  <%= @project.github_link %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @project.deadline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @project.priority %>
</p>

<p>
  <strong>Coder:</strong>
  <%= @project.coder_id %>
</p>

<p>
  <strong>Current:</strong>
  <%= @project.current %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<%= link_to 'Add a snippet', new_snippet_path %>
<%= hidden_field_tag :this_project_id, value: @project.id %>

