<% if current_coder %>
  <div class='container-dashboard'>
    <%= link_to 'Projects', projects_path, {class: 'btn btn-primary'} %>
    <%= link_to 'Snippets', snippets_path, {class: 'btn btn-primary'} %>
    <%= link_to 'Courses', courses_path, {class: 'btn btn-primary'} %>
  </div>
<% end %>
<br/>
<div class='row'>
  <div class='col-md-1'>
    <ul class="nav nav-pills nav-stacked">
      <li><%= profile_image_for(@coder) %></li>
      <% if @coder.verified_email %>
        <li style='width: 80px;'><%= link_to "Email #{@coder.coder_name.chars[0..6].join}", email_coder_path, class: 'btn-lg btn-primary' %></li>
      <% end %>
    </ul>
  </div>
  <div class='col-md-11'>
    <div class='container-dashboard'>
      <p class='project-dashboard-title'>Projects</p>
      <ul class='project-dashboard-links'>
        <% @projects.each do |project| %>
          <li id="<%= dom_id(project) %>"><%= link_to project.project_name, project_path(project.id) %></li>
        <% end %>
      </ul>
    </div>
    <div class='container-dashboard'>
      <p class='snippet-dashboard-title'>Code Snippets</p>
      <ul class='snippet-dashboard-links'>
        <% @snippets.each do |snippet| %>
          <div class='row'>
            <div class='col-md-8'>
              <li id="<%= dom_id(snippet) %>"><%= link_to snippet.objective.chars[0..58].join + '...', snippet_path(snippet.id) %> </li>
            </div>
            <div class='col-md-3'>
              <%= link_to "from project: #{snippet.project.project_name}", project_path(snippet.project_id), class: 'snippet-dashboard-info pull-right' %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
    <div class='container-dashboard'>
      <p class='course-dashboard-title'>Education</p>
      <ul class='course-dashboard-links'>
        <% @courses.each do |course| %>
          <li id="<%= dom_id(course) %>"><%= link_to course.title, course_path(course.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% if admin? %>
  <%= link_to 'reset 500', reset_coder_500_path, {class: 'btn btn-default'} %>
<% end %>
