<div class="page-header">
  <%= link_to new_course_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Course
  <% end %>
  <h1>Listing courses</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Completion date</th>
            <th>Certificate</th>
            <th>Completed</th>
            <th>Coder</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @courses) do |course| %>
            <td><%= course.title %></td>
            <td><%= course.completion_date %></td>
            <td><%= course.certificate %></td>
            <td><%= course.completed %></td>
            <td><%= course.coder.coder_name %></td>
            <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
