<div class="page-header">
  <% if current_coder %>
    <%= link_to courses_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back
    <% end %>
    <%= link_to edit_course_path(@course), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Course</h1>
</div>

<div class = 'jumbotron' style = 'background: white'>
  <dl class="dl-horizontal">
    <dt>Title:</dt>
    <dd><%= @course.title %></dd>

    <dt>Description:</dt>
    <dd><%= @course.description %></dd>

    <dt>Place:</dt>
    <dd><%= @course.place %></dd>

    <dt>Instructor:</dt>
    <dd><%= @course.instructor %></dd>

    <dt>Start Date:</dt>
    <dd><%= @course.start_date ? @course.start_date.strftime('%B %d, %Y') : '' %></dd>

    <dt>Completed:</dt>
    <dd><%= @course.completion_date.strftime('%B %d, %Y') %></dd>

    <dt>Certificate:</dt>
    <dd><%= @course.certificate ? 'Yes' : "N/A" %></dd>

    <dt>Coder:</dt>
    <dd><%= @course.coder.coder_name %></dd>
  </dl>
</div>
