<div class="pull-right">
  <%= link_to coders_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_coder_path(@coder), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <%= link_to @coder, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-maroon-white' do %>
    <span class="glyphicon glyphicon-trash"></span>
    Delete Account
  <% end %>
</div>
<h3>
  <dl class="dl-left">
    <dt>Coder name:</dt>
    <dd style="color: white;"><%= @coder.coder_name %></dd>
  </dl>
  <dl class="dl-left">
    <dt>Email:</dt>
    <dd style="color: white;"><%= @coder.email %></dd>
  </dl>
  <dl class="dl-left">
    <dt>Dashboard Image</dt>
    <dd><%= link_to 'go to Gravtar to create', "http://en.gravatar.com/", class: 'btn btn-maroon-white', :target => "_blank" %></dd>
  </dl>
</h3>
